body {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
  color: #fff;
}


#chatbot-icon {
  width: 110px;
  height: 110px;
  position: fixed;
  bottom: 20px;
  right: 11px;
  display: flex;
  justify-content: center;
  border-radius: 15%;
  align-items: center;

  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  animation: float 2s infinite ease-in-out;
}

#chatbot-icon.hide {
  opacity: 0;
  transform: scale(0.4);
  transition: all 0.3s ease;
}

#chatbot-icon img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}


#chatbot-container {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 360px;
  height: 460px;
  border-radius: 18px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
  background: url("media/background.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.3) translateY(80px);
  transform-origin: bottom right;
  pointer-events: none;
  transition: all 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

#chatbot-container.active {
  opacity: 1;
  transform: scale(1) translateY(0);
  pointer-events: auto;
}


#chatbot-header {
  background: linear-gradient(90deg, #0b2942, #263d55);
  color: white;
  padding: 10px 12px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Cinzel", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#close-btn img {
  margin-top: 5px;
  width: 22px;
  height: 22px;
  object-fit: contain;
}


#chatbot-body {
  position: relative;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

#chat-bg {
  position: absolute;
  inset: 0;
  background: url("media/background.png") center/cover no-repeat;
  pointer-events: none;
}

#chatbot-messages {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 10px 12px;
  border-radius: 12px;
  max-width: 80%;
  font-size: 13px;
  line-height: 1.4;
}

.message.user {
  background-color: #2a668d;
  color: white;
  align-self: flex-end;
}

.message.bot {
  background-color: #333;
  color: white;
  align-self: flex-start;
}

#chatbot-input-container {
  display: flex;
  padding: 6px;
  gap: 6px;
  border-top: 1px solid #333;
  background-color: #1a2f42;
}


#chatbot-input {
  flex: 1;
  padding: 0px 10px;
  font-size: 13px;

  border-radius: 10px;
  background-color: #041323;
  border: none;
  color: white;
}

#send-btn {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
}

#send-btn img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.2s ease;
}

#send-btn:disabled img {
  opacity: 0.4;
}


.typing {
  display: flex;
  gap: 5px;
  align-items: center;
}

.typing span {
  width: 8px;
  height: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.2s infinite ease-in-out;
}

.typing span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}