html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Cinzel', serif;
  background:
    linear-gradient(to bottom,
      rgba(1, 12, 24, .92),
      rgba(3, 22, 38, .92),
      rgba(1, 10, 20, .96));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}


section {
  position: relative;
  width: 100%;
  padding: 120px 8%;
  box-sizing: border-box;
}


.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  background:
    linear-gradient(rgba(0, 0, 0, .30),
      rgba(0, 0, 0, .65)),
    url('Media/newBackground.png');
  background-size: cover;
  background-position: center;
}

.hero-text {
  width: 45%;
}

.main-title {
  font-size: 90px;
  line-height: 1;
  letter-spacing: 8px;
  margin-bottom: 25px;
  background: linear-gradient(to bottom,
      #fff6cc,
      #f7d774,
      #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 4px #bf9b30, 0px 0px 15px rgba(255, 215, 0, .6);
}

.hero-subtitle {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, .92);
}

.hero-description {
  font-size: 18px;
  line-height: 1.8;
  color: rgba(255, 255, 255, .75);
  max-width: 500px;
}


.explore-btn,
.back-btn {
  padding: 14px 30px;
  border-radius: 50px;
  border: 1px solid rgba(255, 215, 0, .5);
  background: linear-gradient(135deg,
      rgba(5, 25, 40, .95),
      rgba(10, 70, 95, .9),
      rgba(212, 175, 55, .8));
  color: white;
  font-family: 'Cinzel', serif;
  cursor: pointer;
  transition: .35s ease;
  box-shadow: 0 0 18px rgba(255, 215, 0, .25);
}

.explore-btn:hover,
.back-btn:hover {
  transform: translateY(-4px) scale(1.03);
  box-shadow: 0 0 30px rgba(255, 215, 0, .45);
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

.intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
  background:
    linear-gradient(rgba(0, 0, 0, .30),
      rgba(0, 0, 0, .65)),
    url('Media/section2.png');
  background-size: cover;
  background-position: center;
}

.brief-title {
  font-size: 52px;
  margin-bottom: 25px;
  background: linear-gradient(to bottom,
      #fff6cc,
      #f7d774,
      #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brief p {
  color: rgba(255, 255, 255, .82);

  font-size: 18px;
  line-height: 1.9;
}


.features-section {
  background:
    linear-gradient(rgba(0, 0, 0, .30),
      rgba(0, 0, 0, .75)),
    url('Media/sec3.png');
  background-size: cover;
  background-position: center;
}

.section-title {
  text-align: center;
  font-size: 58px;
  margin-bottom: 80px;
  background: linear-gradient(to bottom,
      #fff6cc,
      #f7d774,
      #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.card {
  position: relative;
  overflow: hidden;
  min-height: 320px;
  border-radius: 30px;
  background: rgba(255, 255, 255, .08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, .12);
  box-shadow:
    0 15px 35px rgba(0, 0, 0, .45);

  transition:
    transform .35s ease,
    box-shadow .35s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 25px 45px rgba(0, 0, 0, .65);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  background: linear-gradient(to top,
      rgba(0, 0, 0, .95) 0%,
      rgba(0, 0, 0, .75) 25%,
      rgba(0, 0, 0, .45) 50%,
      rgba(0, 0, 0, .15) 75%,
      rgba(0, 0, 0, 0) 100%);
}

.card-content {
  padding: 25px;
}

.card-title {
  font-size: 30px;
  margin-bottom: 15px;
  background: linear-gradient(to bottom,
      #fff6cc,
      #f7d774,
      #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card p {
  color: rgba(255, 255, 255, .8);
  line-height: 1.7;
  font-size: 16px;
}

.more-civilizations {
  text-align: center;
  background:
    linear-gradient(rgba(0, 0, 0, .55),
      rgba(0, 0, 0, .78)),
    url('Media/sec4.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.more-title {
  font-size: 58px;
  margin-bottom: 80px;

  background: linear-gradient(to bottom,
      #fff6cc,
      #f7d774,
      #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.more-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  flex-wrap: wrap;
}


.more-card button {
  padding: 14px 30px;
  border-radius: 50px;
  border: 1px solid rgba(255, 215, 0, .5);
  background: linear-gradient(135deg,
      rgba(5, 25, 40, .95),
      rgba(10, 70, 95, .9),
      rgba(212, 175, 55, .8));
  color: white;
  font-family: 'Cinzel', serif;
  cursor: pointer;
  transition: .35s ease;
  box-shadow: 0 0 18px rgba(255, 215, 0, .25);
}

.more-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 215, 55, .4);
}

.more-card {
  position: relative;
  width: 320px;
  height: 420px;
  overflow: hidden;
  border-radius: 30px;
  background: rgba(255, 255, 255, .08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, .15);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .45);
  transition:
    transform .4s ease,
    box-shadow .4s ease;
}

.more-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow:
    0 25px 45px rgba(0, 0, 0, .65);
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top,
      rgba(0, 0, 0, .95) 0%,
      rgba(0, 0, 0, .75) 25%,
      rgba(0, 0, 0, .45) 50%,
      rgba(0, 0, 0, .15) 75%,
      rgba(0, 0, 0, 0) 100%);

  z-index: 1;
}


.more-card-content {
  position: absolute;
  bottom: 30px;
  left: 25px;
  right: 25px;
  z-index: 2;
}

.more-card-content h3 {
  font-size: 28px;
  margin-bottom: 15px;
  background: linear-gradient(to bottom,
      #fff6cc,
      #f7d774,
      #ffffff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.more-card-content p {
  color: rgba(255, 255, 255, .82);
  line-height: 1.7;
  margin-bottom: 20px;
}


.last-section-bg {
  background:
    linear-gradient(rgba(0, 0, 0, .45),
      rgba(0, 0, 0, .88)),
    url('Media/footer.png');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}


.footer {
  text-align: center;
  padding: 70px 20px;
}

.footer-title {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  color: #f7d774;
}

.footer p {
  color: rgba(255, 255, 255, .7);
  font-size: 17px;
}


.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.popup-content {
  background: rgba(34, 52, 62, 0.95);
  padding: 25px;
  border-radius: 20px;
  width: 70%;
  color: white;
  position: relative;
}

.popup-body {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.popup-body img {
  width: 45%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.popup-text h2 {
  width: 55%;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
    background: linear-gradient(to bottom,
      #fff6cc,
      #f7d774,
      #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popup-text p {
  line-height: 1.8;
}


.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}



@media (max-width: 992px) {

  .hero,
  .intro-section {
    grid-template-columns: 1fr;
    flex-direction: column;
    text-align: center;
  }

  .hero-text,
  .hero-image {
    width: 100%;
  }

  .main-title {
    font-size: 65px;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 768px) {
  .popup-body {
    flex-direction: column;
  }

  .popup-body img,
  .popup-text {
    width: 100%;
  }
}

@media (max-width: 600px) {

  section {
    padding: 90px 6%;
  }

  .main-title {
    font-size: 48px;
    letter-spacing: 4px;
  }

  .brief-title,
  .section-title,
  .more-title,
  .gallery-title {
    font-size: 38px;
  }

  .hero-subtitle {
    font-size: 22px;
  }

  .more-card {
    width: 100%;
    max-width: 340px;
  }
}
